body {
    background-color: #fefefe;
    text-align: center;
    .navbar {
      background: rgb(67, 147, 221);
      color: #E7DACB;
      height: 50px;
    }
    h1 {
      font-size: 40px;
      margin-top: 30px;
    }
  }
test1 {
  margin-top: 20px;
}